.new-post-title {
    width: 250px;
}

.new-post-block {
    background: transparent;
    width: 60%;
    margin: 0 auto;
    border-radius: 20px;

}

#editor-title {
    width: 215px;
    font: 90px Amatic SC;
    font-weight: 600;
    margin: 0 auto 50px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    background: url("../images/line.png");
    background-size: contain;
    background-repeat: no-repeat;
    padding-bottom: 47px;
    padding-left: 25px;
    padding-right: 41px;
    margin-bottom: 21px;
    background-position: bottom center;
}

#post-form {
    background:rgba(255,255,255,.7);
    border-radius: 20px;
    margin: 10px;
}

.single-element-form {
    font: 30px Amatic SC;
    color:black;
    display: inline-block;
    width: 40%;
    padding-top: 10px;
}

.content-field {
    resize: none;
    border: 3px solid #f2f2f2;
    outline: none;
    width: 550px;
    height: 300px;
    border-radius: 15px;
    text-align: left;
    font: 12px Lato-Light;
    padding: 10px;
}

.content-field:focus {
    font: 12px Lato;
    font-weight: 100;
    outline: none;
    border: 3px solid #c00c02;
}



